<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Edit</title>
</head>
<body>
<nav class="models">
    <ul>
        <li>{{adminName}}</li>
    </ul>
</nav>
</body>
</html>