<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Index</title>
</head>
<body>
<nav class="flex flex-row w-[70vw] text-center m-[5px_auto] bg-[#35373b] min-h-14">
    <li class="list-none font-bold text-white p-4 cursor-pointer active:bg-[#000000]"
        onclick="window.location.href = '/admin/'"
    >{{adminName}}</li>
    {{#tables}}
        <li class="list-none font-bold text-white p-4 cursor-pointer active:bg-[#000000]"
        ><a href="/admin/{{.}}/list" class="capitalize no-underline text-white text-[15px]">{{.}}</a></li>
    {{/tables}}
</nav>
</body>
</html>

